extends ../layout

block content
    
    div(data-ng-controller="GameController as gameCtrl")

        include board

        #game-status
            .heading
                h3(data-ng-bind="gameCtrl.game.status.whosTurn()") Initialising...
            .body(data-tabs)
                include history
                include debug
            