extends ../layout

block content
    
    div(data-ng-controller="GameController as gameCtrl")

        include board

        #game-status
            .heading
                h3(data-ng-bind="gameCtrl.game.status.whosTurn()") Initialising...
            .body(data-tabs)
                include history
                include debug

        #game-dialog.ng-cloak.dialog(
            data-ng-cloak
            data-ng-if="gameCtrl.game.status.isComplete()"
            data-ng-style="{ 'margin-top': (gameCtrl.displayManager.boardTopOffset - 30) }"
            data-moveable)
            span Game over!
            
        #screen-block.ng-cloak(
            data-ng-if="!gameCtrl.game.status.isActive()")