.body-content
    ul
        li(data-ng-repeat="player in gameCtrl.game.players")
            i(class="fa fa-fw" data-ng-class="{ 'fa-long-arrow-right': gameCtrl.game.status.turnManager.currentTeam.owner.id === player.id }" )
            span(data-ng-bind="player.name")
                
