extends layout

block content
    
    include board

    #game-status
        .heading
            h3(data-ng-bind="game.status.whosTurn()") Initialising...
        .body
            include gameHistory
            