@require "/public/stylesheets/common"

body
	margin 0
	padding 0
	font normal 11pt Segoe UI, Calibri, sans-serif

.hidden
	visibility hidden

.max-size
	width 100%
	height 100%

.light-tile
	background-color white

.dark-tile
	background-color #2D6292

div#board
	min-width 300px
	overflow hidden
	margin 0 auto
	-webkit-transform perspective(500px) rotateX(20deg)
	-moz-transform perspective(500px) rotateX(20deg)
	-ms-transform perspective(500px) rotateX(20deg)
	-o-transform perspective(500px) rotateX(20deg)
	transform perspective(500px) rotateX(20deg)

div.board-tile
	float left
	margin auto

div.placeholder
	border white

div.available
	position relative
	border $tile-border-color

div.board-destination-tile
	border #8CBF26

div.board-target-tile
	border $tile-attack-border-color

div.board-movement-tile
	border #F09609

img.piece
	position absolute
	top 50%
	left 50%
	margin -40% 0 0 -25%
	z-index 1

img.attachedPiece
	position absolute
	z-index 2
	top 50%
	left 50%
	margin -30% 0 0 -5%

div#game-menu
	position absolute
	z-index 5
	top 0
	right 0
	width 22em
	color white
	background-color $dark-blue

	div
		position relative
		overflow hidden

	h3#whos-turn
		float left
	
	h3, h4, h5
		margin .2em 0 .4em .4em
		font bold 18pt Segoe UI Light, Calibri, sans-serif

	h4
		font-size 14pt

	h5
		font-size 12pt

	button
		position absolute
		bottom 0
		right 0
		background-color $dark-blue
		height 2.2em
		border-width 0px
		outline none
		padding 2px 7px 6px 7px

	button:hover, button.selected
		background-color $medium-blue

	div#menu, div.menu-item
		clear both
		background-color $medium-blue

	div.menu-item
		cursor pointer
		height 2.6em
		
		h4
			float left
			margin .2em 0 0 .7em
			background-color transparent

		i
			float right
			margin .6em

		i.back-arrow
			float left
			margin-top .2em
			margin-left 0

	div.menu-item.unselected:hover
		background-color $dark-blue

	div.menu-detail
		background-color $light-blue
		padding-top .5em
		
		.body-content
			padding 0 .8em .5em .8em
			height 20em
			overflow auto

			ul
				padding-left 0
				list-style-type none

				li i
					margin-right .3em

div.dialog
	position absolute
	left 50%
	top 50%
	z-index 10
	margin-left -13em
	padding 0
	width 26em
	height 6em
	border $dark-blue
	background-color white

	h3
		font bold 13pt Segoe UI Light, Calibri, sans-serif
		margin 0 0 .1em 0
		padding 0 0 .2em .3em
		color white
		background-color $dark-blue

	span
		text-align center
		vertical-align middle
		padding .3em .5em

	div.button-container
		position absolute
		bottom 0
		right 0
		padding .2em .4em
		

div#screen-block
	position absolute
	left 0
	top 0
	width 100%
	height 100%
	z-index 9
	background-color black
	filter alpha\(opacity=30\)
	-moz-opacity .5
	-khtml-opacity .5
	opacity .3
	
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }