// Variables

$tile-border-color = #DDD
$tile-attack-border-color = #E51400

// Mixins

border(colour)
	border 2px solid colour

// Styles

body
	margin 0
	padding 0
	font normal 11pt Segoe UI, Calibri, sans-serif

.hidden
	visibility hidden

.max-size
	width 100%
	height 100%

.light-tile
	background-color white

.dark-tile
	background-color #2D6292

div#board
	min-width 300px
	overflow hidden
	margin 0 auto
	-webkit-transform perspective(500px) rotateX(20deg)
	-moz-transform perspective(500px) rotateX(20deg)
	-ms-transform perspective(500px) rotateX(20deg)
	-o-transform perspective(500px) rotateX(20deg)
	transform perspective(500px) rotateX(20deg)

div.board-tile
	float left
	margin auto

div.placeholder
	border white

div.available
	position relative
	border $tile-border-color

div.board-destination-tile
	border #8CBF26

div.board-target-tile
	border $tile-attack-border-color

div.board-movement-tile
	border #F09609

img.piece
	position absolute
	top 50%
	left 50%
	margin -40% 0 0 -25%
	z-index 1

img.attachedPiece
	position absolute
	z-index 2
	top 50%
	left 50%
	margin -30% 0 0 -5%

div#game-status
	position absolute
	z-index 5
	top 0
	right 0
	width 25%
	color white

	.heading, .body
		background-color #3A3145
		padding .4em .5em

		h3, h4, h5
			font bold 18pt Segoe UI Light, Calibri, sans-serif
			margin 0

		h4
			font-size 13pt

		h5
			font-size 11pt

	.body
		padding 0
		
		.body-content
			background-color #4E4658
			padding .3em .5em
			height 10em
			overflow auto

			.history
				div
					padding-bottom .2em
					overflow auto

					span
						float left

					span.history-item-number
						width 1.8em
						text-align right
						margin-right .2em

					span.no-moves
						font-size 90%
						margin-left .5em

			.debug
				div
					overflow auto
					float left
					clear left
				h5
					clear left
					margin .1em 0

				div.coords
					width 2.2em
					margin-left .3em

				div.identifier
					width 2.6em
					margin-left .3em

				div.info
					clear none

					span
						float left
						margin-right .6em

.tabsContainer
	overflow hidden

	h4.tabHeading
		float left
		margin 0
		padding .2em .6em .3em .6em
		cursor pointer

	h4.tabHeading.active
		background-color #4E4658

	div.tabContent
		clear left

div#game-notification
	position absolute
	left 50%
	top 50%
	z-index 10
	margin-left -13em
	padding .3em .5em
	width 26em
	height 6em
	line-height 6em
	text-align center
	vertical-align middle
	border black
	background-color white