@require "/public/stylesheets/site"

.board-tile-attack-animation-add
  -webkit-animation add 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000)
  -moz-animation add 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000)
  -o-animation add 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000)
  animation add 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000)

@-webkit-keyframes add
	from
		border-color $tile-border-color
	15%
		border-color $tile-attack-border-color
	30%
		border-color $tile-border-color
	45%
		border-color $tile-attack-border-color
	60%
		border-color $tile-border-color
	75%
		border-color $tile-attack-border-color
	90%
		border-color $tile-border-color
	to
		border-color $tile-attack-border-color

@-moz-keyframes add
	from
		border-color $tile-border-color
	15%
		border-color $tile-attack-border-color
	30%
		border-color $tile-border-color
	45%
		border-color $tile-attack-border-color
	60%
		border-color $tile-border-color
	75%
		border-color $tile-attack-border-color
	90%
		border-color $tile-border-color
	to
		border-color $tile-attack-border-color

@-o-keyframes add
	from
		border-color $tile-border-color
	15%
		border-color $tile-attack-border-color
	30%
		border-color $tile-border-color
	45%
		border-color $tile-attack-border-color
	60%
		border-color $tile-border-color
	75%
		border-color $tile-attack-border-color
	90%
		border-color $tile-border-color
	to
		border-color $tile-attack-border-color

@keyframes add
	from
		border-color $tile-border-color
	15%
		border-color $tile-attack-border-color
	30%
		border-color $tile-border-color
	45%
		border-color $tile-attack-border-color
	60%
		border-color $tile-border-color
	75%
		border-color $tile-attack-border-color
	90%
		border-color $tile-border-color
	to
		border-color $tile-attack-border-color