body
    margin 0;
    padding 0;

.hidden
    visibility hidden;

.max-size
    width 100%;
    height 100%;

.light-tile
    background-color white;

.dark-tile
    background-color #2D6292;

div#board
    overflow hidden;
    position absolute;
    top 50%;
    left 50%;
    margin -25% 0 0 -25%;

div.board-tile
    float left;
    margin auto;

div.placeholder
    border 2px solid white;

div.available
    position relative;
    border 2px solid #ddd;

div.board-destination-tile
    border 2px solid #8CBF26;

img.piece
    position absolute;
    top 50%;
    left 50%;
    margin -40% 0 0 -25%;
