<div id="board" class="hidden">
    <div class="board-row">
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
    </div>
    <div class="board-row">
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
    </div>
    <div class="board-row">
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
    </div>
    <div class="board-row">
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
    </div>
    <div class="board-row">
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
    </div>
    <div class="board-row">
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
    </div>
    <div class="board-row">
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
    </div>
    <div class="board-row">
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
        <div class="board-tile"></div>
    </div>
</div>