<div id="board" class="hidden" data-ng-controller="BoardController">
    <div class="board-tile" data-ng-repeat="tile in tiles" data-ng-class="{ 'dark-tile': tile.isDark }">
        Row {{tile.row}}, Column {{tile.column}}
    </div>
</div>