<div id="board" class="hidden"
     data-ng-controller="BoardController"
     data-remove-class="hidden"
     data-size-to-container resize="{{board.resize()}}"
     data-ng-style="{ width: board.size }">
    <div class="board-tile"
         data-ng-repeat="tile in board.tiles"
         data-ng-class="{ 'dark-tile': tile.isDark }"
         data-ng-style="{ width: tile.size, height: tile.size }"
         data-droppable data-item="tile">
        <img id="{{tile.piece.id}}" class="piece"
             data-ng-if="tile.isOccupied()"
             data-draggable data-item="tile" data-dragstart="tile.piece.moving()" data-dragend="tile.piece.moved()"
             data-ng-src="{{tile.piece.imageSource}}"
             data-ng-style="{ width: tile.piece.width, height: tile.piece.height }" />
        Row {{tile.row}}, Column {{tile.column}}
    </div>
</div>