<div id="board" class="hidden"
     data-ng-controller="BoardController"
     data-remove-class="hidden"
     data-size-to-container resize="{{board.resize()}}"
     data-ng-style="{ width: board.size }">
    <div class="board-tile"
         data-ng-repeat="tile in board.tiles"
         data-ng-class="{ 'dark-tile': tile.isDark }"
         data-ng-style="{ width: tile.size, height: tile.size }"
         data-droppable data-item="tile" data-subject="board.state" data-drop="board.state.pieceMoved">
        <img id="{{tile.piece.id}}" class="piece"
             data-ng-if="tile.isOccupied()"
             data-draggable data-item="tile" data-subject="board.state" data-dragstart="board.state.pieceMoving"
             data-ng-src="{{tile.piece.imageSource}}"
             data-ng-style="{ width: tile.piece.width, height: tile.piece.height }" />
        Row {{tile.position.row}}, Column {{tile.position.column}}
    </div>
</div>